<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
  
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"/>
    </handlers>
  
    <httpPlatform processPath="PowerShell -NoProfile -NoLogo -ExecutionPolicy Unrestricted -File &quot;%HOME%\site\wwwroot\virtualapplicationwildfly\azure_wf_launcher.ps1&quot;"
        startupTimeLimit="360" 
        startupRetryCount="1" 
        stdoutLogEnabled="true" 
        stdoutLogFile="%HOME%\LogFiles\WF"
        requestTimeout="00:10:00">
    </httpPlatform>
	
  </system.webServer>
</configuration>