<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true" skipManagedModules="true">
      <add initializationPage="/" hostName="{YOURWEBAPP}.azurewebsites.net"/>
      <add initializationPage="/tomcatpath/" hostName="{YOURWEBAPP}.azurewebsites.net"/>
      <add initializationPage="/{yourwfvirtualapppath}/" hostName="{YOURWEBAPP}.azurewebsites.net"/>
      <add initializationPage="/?isreadycheck=1" hostName="{YOURWEBAPP}.azurewebsites.net"/>
      <add initializationPage="/?isreadycheck=2" hostName="{YOURWEBAPP}.azurewebsites.net"/>
      <add initializationPage="/?isreadycheck=3" hostName="{YOURWEBAPP}.azurewebsites.net"/>
    </applicationInitialization>
  </system.webServer>
</configuration>
